@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');




body.register-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("https://images.freeimages.com/images/large-previews/7be/sunset-1369613.jpg?fmt=webp&w=500");
  background-position: fixed;
  background-size: cover;
}
.the-whole-register-part {
  width: 500px; /* Adjusted width */
  height: 675px;
  background: white; /* Adjusted background color with opacity */
  border-radius: 10px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.241);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: 100% 100%;
}
 

.register-title {
  height: 100px; /* Adjusted height */
  background: rgba(133, 62, 17, 0.816);  
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 35px; /* Adjusted font size */
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.the-register-form {
  padding: 20px 30px 30px 30px; 
}

.signUpText {
  color: rgba(133, 62, 17, 0.816);  
  font-size: 60px;  
  text-align: center;  
  margin: 5px auto 20px auto; 
}

.register-username-input input{
  height: 55px;
  width: 100%;
  outline: none;
  padding-left: 20px;
  border-radius: 8px;
  border: 2px solid lightgrey; /* Adjusted border thickness */
  font-size: 20px;
  transition: all 0.3s ease;
  
}


.register-username-input:focus {
  border-color: #808080;
  box-shadow: inset 0px 0px 2px 2px rgba(128, 128, 128, 0.25);
}


.register-username-input::placeholder {
  color: #999;
}

.register-email-input input{
  height: 55px;
  width: 100%;
  outline: none;
  padding-left: 20px;
  border-radius: 8px;
  border: 2px solid lightgrey; /* Adjusted border thickness */
  font-size: 20px;
  transition: all 0.3s ease;
  margin-top: 30px;
}


.register-email-input:focus {
  border-color: #808080;
  box-shadow: inset 0px 0px 2px 2px rgba(128, 128, 128, 0.25);
}


.register-email-input::placeholder {
  color: #999;
}

.register-password-input input{
  height: 55px;
  width: 100%;
  outline: none;
  padding-left: 20px;
  border-radius: 8px;
  border: 2px solid lightgrey; /* Adjusted border thickness */
  font-size: 20px;
  transition: all 0.3s ease;
  margin-top: 30px;

}


.register-password-input:focus {
  border-color: #808080;
  box-shadow: inset 0px 0px 2px 2px rgba(128, 128, 128, 0.25);
}


.register-password-input::placeholder {
  color: #999;
}

 

.register-button button{
  color: #fff;
  font-size: 24px;  
  background: rgba(133, 62, 17, 0.816);  
  border: 1px solid rgba(133, 62, 17, 0.816);  
  cursor: pointer;
  border-radius: 8px;  
  text-align: center;
  width: 100%;
  height: 65px;
  margin-top: 50px;

}

.register-button :hover {
  background: rgba(133, 62, 17, 0.914);  
}

.ask-to-signin-link {
  color: #808080;
  text-align: center;
  margin-top: 30px;  
  font-size: 20px;  
  width: 100%;  
  display: block; /* Set the display to block */
}


ask-to-signin-link a {
  color: #007cdc; /* Darker shade of blue */
  text-decoration: underline; /* Add an underline to indicate a link */

}


ask-to-signin-link a:hover {
  text-decoration: underline;
  color: #0f5488;
}

.error {
  color: red;
  font-size: 16px;
  background-color: #ffe6e6;
  padding: 6px;
  border-radius: 5px;
  position: fixed;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .the-whole-register-part {
    width: 80%; /* Adjusted width for smaller screens */
    height: auto; /* Adjusted height to accommodate content */
    top: 40%; /* Adjusted position from top */
    transform: translate(-50%, -40%); /* Adjusted transform */
  }

  .register-title {
    font-size: 24px; /* Adjusted font size for smaller screens */
  }

  .signUpText {
    font-size: 40px; /* Adjusted font size for smaller screens */
  }

  .register-inputRow input {
    font-size: 16px; /* Adjusted font size for smaller screens */
    height: 45px; /* Adjusted height for smaller screens */
    margin-top: 20px; /* Adjusted margin top for smaller screens */
  }

  .register-button button {
    font-size: 20px; /* Adjusted font size for smaller screens */
    height: 50px; /* Adjusted height for smaller screens */
    margin-top: 30px; /* Adjusted margin top for smaller screens */
  }

  .ask-to-signin-link {
    font-size: 16px; /* Adjusted font size for smaller screens */
    margin-top: 20px; /* Adjusted margin top for smaller screens */
  }

  .error {
    font-size: 14px; /* Adjusted font size for smaller screens */
    padding: 8px; /* Adjusted padding for smaller screens */
  }
}
