 

.home-background{
    background-image: url("https://pluviophile.net/wp-content/uploads/wet-empty-road-wallpaper.jpg");
 
    background-size: cover;
    background-position: center;
}


.home-heading{
  font-size: 40px;  
  text-align: center;  
}

.square-btn {
    width: 350px; /* Adjust width as needed */
    height: 350px; /* Adjust height as needed */
    font-size: 1.5rem; /* Increase font size if needed */
    padding: 20px; /* Adjust padding as needed */
  }
  
  
  .buttonWithBackground1 {
    background-image: url("https://nsbroker.com/storage/app/uploads/public/60e/5ad/f59/60e5adf5981c0686511090.png");
    background-size: cover;
    position: relative;
    display: inline-block;
    text-decoration: none;
    border: 8px solid; 
    border-color: rgba(66, 65, 65, 0.688);
  }

  .buttonWithBackground2 {
    background-image: url("https://st2.depositphotos.com/6436316/10121/v/950/depositphotos_101213276-stock-illustration-gold-coins-in-retro-cartoon.jpg");
    background-size: cover;
    position: relative;
    display: inline-block;
    text-decoration: none;
    border: 8px solid; 
    border-color: rgba(66, 65, 65, 0.688);
  }
  
  .buttonOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 212, 227, 0.475);
    z-index: 1;
    border-radius: 5px;
    transition: opacity 0.3s;
    opacity: 0; /* Initially transparent */
  }
  
  .buttonContent {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center; /* Center horizontally */ 
    height: 100%; /* Ensure the content takes up the full height of the button */
  }
  
  
  .buttonContent img {
    display: block;
    width: 100%; /* Make the image fill the button */
    border-radius: 5px;
  }
  
  .buttonWithBackground1:hover .buttonOverlay {
    opacity: 0.7; /* More opaque on hover */
  }
  
  /* Additional hover effects */
  .buttonWithBackground1:hover .buttonContent {
    color: #f0f0f0;
  }
  
    
  .buttonWithBackground2:hover .buttonOverlay {
    opacity: 0.9; /* More opaque on hover */
  }
  
  /* Additional hover effects */
  .buttonWithBackground2:hover .buttonContent {
    color: #697067;
  }


  /* For screens smaller than 768px (phones), display buttons vertically */
@media (max-width: 768px) {
  .container-fluid .row {
    flex-direction: column;
    align-items: center;
  }

  .col-md-4 {
    width: 100%; /* Make each column full width */
    margin-bottom: 50px; /* Add some spacing between buttons */
  }
}

/* For screens larger than 768px (computers), display buttons horizontally */
@media (min-width: 769px) {
  .container-fluid .row {
    flex-direction: row;
    justify-content: center;
  }

  .col-md-4 {
    width: auto; /* Reset width to auto for horizontal layout */
    margin-bottom: 0; /* Reset margin */
  }
}

  
